body {
  text-align: center;
  padding: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

.item {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
}

.input-scan-code {
  width: 150px;
}

.f {
  float: left;
}

Button {
  margin: 10px;
}